# Common
node_modules/
.env
.env.local
.DS_Store
*.log
dist/
build/
.gemini/
coverage/

# Backend
backend/.env
backend/node_modules/
backend/dist/

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/build/
